@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Merriweather+Sans:wght@700&family=Montserrat:wght@300&display=swap');

.HairShades{
    height: 100vh;
}
.nav-section{
    padding: 1rem 2rem;
}

.main{
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0rem;
    padding: 5rem 0rem;
    
}
.hero h1{
    font-size: 7rem;
    font-weight: 800;
    margin-top: 10rem;
    margin-bottom: 0.5rem;
    font-family: 'Belleza';

}
.hero-text span{
    background-image: linear-gradient(45deg, rgb(181, 181, 240) 10%, rgb(242, 147, 238) 45%, rgb(235, 160, 89) 80%);
    background-clip: text;
    color: transparent;
}
.hero-text span:hover{
    background-image: linear-gradient(45deg, rgb(248, 248, 250) 10%, rgb(245, 241, 244) 45%, rgb(249, 247, 246) 80%);
    background-clip: text;
    color: transparent;
}
.hero h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 2rem 0rem;
    letter-spacing: 2px;


}
.shop-button{
    background-color: #48c9f0;
    color: rgb(50, 49, 49);
    border: none;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 7rem;
    padding-left: 1.1rem;
    font-size: 1.05rem;
    font-weight: 600;
    font-family: Montserrat;
    cursor: pointer;
    place-items: center;
    margin: 4rem 0;

}
.shop-button:hover{
    background-color: #eeeee6;
    transform: translateY(10px);
    transition: all 1.5s ease;
}
.shop-button i{
    margin: 0rem 1rem;
}
.latest-product-section{
    justify-content: center;
    align-items: center;
    margin: .5rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #eeeee6;

}
.products{
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.products h1{
    font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: 550;
    color: rgb(59, 59, 59);


}
.products h3{
    font-size: 1.3rem;
    margin-bottom: 5rem;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: rgb(59, 59, 59);


}
.product-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.discover-section{
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.discover h1{
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight: 500;
    color: rgb(59, 59, 59);

}
.discover h2{
    font-size: 1.2rem;
    margin: 3.5rem 0;
    line-height: .01rem;
    font-weight: 300;
    letter-spacing: .7px;
    color: rgb(59, 59, 59);

}

.discover-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
video{
    width: 60rem;
    height: 40rem;
    object-fit: cover;
    margin: 2.5rem 0rem;
    border-radius: 1%;

}
.discover-video a{
    font-size: .75rem;
    height: auto;
    width: auto;
    text-decoration: none;
    color: rgb(28, 28, 28);
    border: none;
    margin: .5rem 0rem;
    cursor: pointer;
    padding: .15rem .5rem;
    border-radius: .4rem;
    background-color: #c0c0b8;
}
.discover-video a:hover{
    background-color: transparent;
    transition: 1.5s ease;
    border: transparent;
    color: #48c9f0;

}
