@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Merriweather+Sans:wght@700&family=Montserrat:wght@300&display=swap');


.footer-container{
    padding-top: 1rem;
    margin: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    align-items: center;
    
}
.l-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0rem 1rem;
    padding: 0rem 1rem;

}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem;

}
.shop, .more, .learn{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    padding: 0rem 2rem;
}
a{
    text-decoration: none;
    color: rgb(39, 39, 255);
    line-height: 2.5rem;
    font-size: 1rem;
}
h2{
    color: black;
    line-height: 4.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.trademark{
    margin: 1rem 2rem;
    align-items: center;
    color: black;

}
.trademark i{
    color: black;
    font-size: small;

}
.r-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0rem 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}
.community{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;

}
.connect-text, .connect-input, .connect-icons{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 2rem;

}
.community .connect-text h2{
    color: rgb(59, 59, 59);
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.community .connect-text h4{
    color: rgb(59, 59, 59);
    line-height: 2rem;
    font-size: 1.05rem;
    font-weight: 600;
}
.community .connect-icons h3{
    color: rgb(59, 59, 59);
    line-height: 3rem;
    font-size: 1.15rem;
    font-weight: 600;
}
.connect-input{
    gap: 1rem;
}
.connect-input input{
    height: 2rem;
    width: 18rem;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 1rem;

}
.connect-input button{
    height: 2rem;
    width: 5rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #48c9f0;

}


.icons i a{
    font-size: x-large;
    color: rgb(59, 59, 59);
    margin-right: 2rem;
    
}
.rules a{
    font-size: .9rem;
    margin-right: 1rem;

}